<h1>Welcome to Blog</h1>
<%= @user_article_summary.first.article_id %>
<%= image_tag("sshiam.jpg", class:"img-fluid img-profile rounded-circle mx-auto mb-2", size: 10*10) %>
<%= link_to 'About', about_path %>
<%= link_to 'Home', root_path %>